@model IEnumerable<TipoCuentas>

@{
    ViewData["Title"] = "Tipos Cuentas";
}


<h1>Tipos de cuentas </h1>
<h5>
    El tipo cuenta se refiere a como podemos agrupar cuentas.
    Ejemplos: Prestamos, Tarjetas de credito, etc.
</h5>

<a asp-action="Crear" class="btn btn-primary mb-3">Crear nuevo tipo cuenta</a>

<table class="table">

    <thead>

      <tr>
        <th>Acciones</th>
        <th>Nombre</th>
      </tr>

    </thead>

    <tbody id="reordenable">
        @foreach (var tipoCuentas in Model)
        {
            <tr>
                <td>
                    <input type="hidden" value="@tipoCuentas.Id" class="ids"/>
                    <a class="btn btn-primary" asp-action="Editar" asp-route-id="@tipoCuentas.Id">Editar</a>
                    <a class="btn btn-danger" asp-action="Borrar" asp-route-id="@tipoCuentas.Id">Borrar</a>
                </td>

                <td>
                    @tipoCuentas.Nombre
                </td>
            </tr>
        }
    </tbody>
  
</table>


@section Scripts {
    <script>

        const urlOrdenar = '@Url.Action("ordenar")';

        $(function(){
            $("#reordenable").sortable({
                stop: async function(e, ui){
                    await actualizarOrdenes();
                }
            });

           async function actualizarOrdenes(){
                const ids = obtenerIdsDeElementos();
              await  enviarIdsAlBackend(ids);
            }

            function obtenerIdsDeElementos(){
                const ids = $(".ids").map(function(){
                    return $(this).val();
                }).get();

                return ids;
            }

            async function enviarIdsAlBackend(ids){
                var data = JSON.stringify(ids);

                await fetch(urlOrdenar, {
                    method: 'POST',
                    body: data,
                    headers: {
                        'Content-Type': 'application/json'
                    }
                });
            }
        })


    </script>
}