@model SistemaAeropuerto.vuelo

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>vuelo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fecha_vuelo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_vuelo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.avion.tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.avion.tipo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_vuelo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
